.MainButton{
    -fx-background-color: #e497ff;
    -fx-border-radius: 3 px;
    -fx-border-color: #ffffff;
    -fx-font-family: Roboto;
    -fx-font-size: 20 px;
}
.MainButton:hover{
    -fx-background-color: #e075ff;
    -fx-border-radius: 4 px;
}
.panes{
   -fx-background-color: #E2C3FA;
}