.pane{
    -fx-background-color: #f4cfff;
}
.btn{
    -fx-background-color:linear-gradient(to right, #e483ff 0%, #e054ff 50%, #e483ff  100%);
    -fx-background-radius: 15px;
    -fx-border-width:1px;
    -fx-border-radius: 15px;
    -fx-border-color: #d72dff;
    -fx-text-fill: white;
}
.btn:hover{
    -fx-transition: -fx-background-color 1s;
    -fx-border-color: white;
    -fx-background-color: #e483ff;
}
.text-field {
    -fx-border-width:5 px ;
    -fx-border-color: rgba(224, 117, 255, 0.6);
}
.text-field:focused, .text-field:hover {
    -fx-border-color: rgba(94, 0, 119, 0.6);
}
.combo-box{
    -fx-background-color: white;
    -fx-border-color: #d72dff;
}
.combo-box .arrow{
    -fx-background-color: #d72dff;
}
.infolabel{
    -fx-border-width: 0.5px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15 px;
    -fx-border-color: #e483ff;
}