.btn{
    -fx-background-color: linear-gradient(to bottom right, rgba(144, 52, 235, 0.79), rgba(221, 69, 247, 0.7));
    -fx-border-radius: 20px;
    -fx-font-family: "Nunito Medium";
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-cursor: hand;
    -fx-background-size: 1200 900;
    -fx-background-radius: 23;
    -fx-border-width:2;
    -fx-start-margin: 10px;
}
.btn:hover{
    /*-fx-border-color: linear-gradient(to bottom right, rgba(221, 69, 247, 0.76), rgba(144, 52, 235, 0.85));*/
    -fx-border-color: #FFFFFF;
}